<!-- cart.component.html -->

<div class="cart-container">
  <h2>Your Cart</h2>
  <div class="cart-items" *ngIf="(cartItems$ | async)?.length; else emptyCart">
    <div class="cart-item" *ngFor="let cartItem of cartItems$ | async">
      <div class="item-details">
        <p class="item-name">{{ cartItem.name }}</p>
        <p class="item-price">{{ cartItem.price | currency }}</p>
        <div class="item-quantity"></div>
      </div>
      <button (click)="removeItem()">
        <i class="fas fa-trash"></i>
      </button>
    </div>
  </div>
  <ng-template #emptyCart>
    <p>Your cart is empty.</p>
  </ng-template>
</div>
